.sidebar 
    ul.sidebar__list 
        li.sidebar__item 
            a(href="/analysis-of-algorithms", title="Analysis of Algorithms") Analysis of Algorithms
        li.sidebar__item 
            a(href="/fundamentals-of-data-structures", title="Fundamentals of Data structures") Fundamentals of Data Structures
        li.sidebar__item 
            a(href="/linear-non-linear", title="Linear & Non-linear data structures") Linear & Non-Linear Data Structures
        li.sidebar__item 
            a(href="/stacks-and-queues", title="Stacks and Queues") Stacks and Queues
        li.sidebar__item 
            a(href="/linked-lists", title="Linked Lists") Linked Lists