extends layout.pug

block content
    h3.title What is Data structure?
    p Data Structure is a way to store and organize data so that it can be used efficiently.

    h3.subtitle Types of Data Structures
    p There are two types of data structures:

    p.item.bold    Primitive data structure
    p.item.bold    Non-primitive data structure

    h4.subtitle Primitive Data structure
    p The primitive data structures are primitive data types. The int, char, float, double, and pointer are the primitive data structures that can hold a single value.

    h4.subtitle Non-Primitive Data structure
    
    p The non-primitive data structure is divided into two types:
    p.item.bold    Linear data structure
    p.item.bold    Non-linear data structure

    h3.subtitle Major Operations on Data structures 
    p.item 
        strong Searching: 
        | We can search for any element in a data structure.
    p.item 
        strong Sorting: 
        | We can sort the elements of a data structure either in an ascending or descending order.
    p.item 
        strong Insertion: 
        | We can also insert the new element in a data structure.
    p.item 
        strong Updating: 
        | We can also perform the delete operation to remove the element from the data structure.
    p.item 
        strong Deletion: 
        | We can also update the element, i.e., we can replace the element with another element.


    h3.subtitle Advantanges of Data structures
    p 
        strong Efficiency:
        |  If the choice of a data structure for implementing a particular ADT is proper, it makes the program very efficient in terms of time and space.
    p 
        strong Reusability:
        |  The data structures provide reusability means that multiple client programs can use the data structure
    p 
        strong Abstraction:
        |  The data structure specified by an ADT also provides the level of abstraction. The client cannot see the internal working of the data structure, so it does not have to worry about the implementation part. The client can only see the interface.

    include ./pages/algorithms
    