h3.title Arrays and Lists
div 
    h4.subtitle Definition
    p Array is defined as named collection of similar data types stored in contiguous memory locations 
div 
    h4.subtitle Properties of an Array 
    p 1. Each element has same data type as other element in the array 
    p 2. Elements are stored at contiguous memory locations.
    p 3. Elements of the array can be randomly accessed since we can calculate the address of each element with a given base address and the size of each element
div 
    h4.subtitle Performace measures of Arrays
    h4 Accessing
    p Time complexity: O(1)
    p Space complexity: O(1)
    h4 Searching 
    p Time complexity: O(n)
    p Space complexity: O(n)
    h4 Insertion 
    p Time complexity: O(n)
    p Space complexity: O(n)
    h4 Deleting 
    p Time complexity: O(n)
    p Space complexity: O(n)

div 
    h4.subtitle Common array methods
    p indexOf() Search the array for an element and returns its position

div 
    h4.subtitle Pros and Cons of using arrays 
    h4.subtitle Pros
    p Array provides the single name for the group of variables of the same type therefore, it is easy to remember the name of all the elements of an array.
    p Arrays are very useful premitive data structures majorly because of having a constant time complexity when accessing their single element

